{% extends "partials/base.html" %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}


<section class="section-conten padding-y" style="min-height:84vh">




    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px; margin-bottom:20px">
        {% include "partials/alerts.html" %}
          <div class="card-body">
          <h4 class="card-title mb-4">Forgot Password</h4>
          <form action="{%url 'forgetPassword'%}" method='POST'>
                {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" name='email'>
              </div> <!-- form-group// -->
              
              
              <div class="form-group">
                  <a href="{% url 'login_page' %}" class="float-right">Got Password? Login</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-danger btn-block"> Submit  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="#">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    </section>
  
{% endblock content %}