
{% extends "partials/base.html" %}
{%load static%}
{% block title %}Home{% endblock title %}
{% block content %}


<!-- header -->
<div class="card mb-3 mt-5">
    <img src="{%static 'img/background.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <div class="header-title">
                <h1>Best Quality Products</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi maxime dolorum excepturi laboriosam? Illo, labore sunt amet obcaecati, repellat quod repellendus laudantium delectus, cumque dolor eligendi aliquid harum fuga eius!</p>
                <a href="{%url 'store_page'%}" class="btn btn-success btn-lg">Check Store!</a>
            </div>
            
        </div>
    </div>
</div>


{% endblock content %}