* {
    margin: 0;
    padding: 0;

}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-title h1{
    font-weight: 700;
}

.bg-primary {
    background: rgb(121,151,176);
    background: linear-gradient(90deg, rgba(121,151,176,1) 0%, rgba(128,198,189,1) 45%, rgba(17,113,221,1) 100%);  
}

.nav-link {
    font-weight: 600;
    color: rgb(49, 49, 129);
}

.product-section h2 {
    font-weight: 700;
    font-size: 2rem;
}


a {
    text-decoration: none;
}